<div class="comparison-container">
    <h2 class="comparison-title">Warum Kunden zu unserer Webdesign Agentur wechseln</h2>

    <div class="comparison-table-wrapper">
        <table>
            <colgroup>
                <col class="col-feature">
                <col class="col-classic">
                <col class="col-bloq">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col"><span class="sr-only">Merkmal</span></th>
                    <th scope="col">klassische Agentur</th>
                    <th scope="col">bloq.labs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Individuelle Designs</th>
                    <td data-label="klassische Agentur">Templates oder Umsetzung individueller Designs teuer</td>
                    <td data-label="bloq.labs">Massgeschneiderte Designs kosteneffizient umgesetzt</td>
                </tr>
                <tr>
                    <th scope="row">CMS</th>
                    <td data-label="klassische Agentur">Komplizierte CMS wie WordPress oder Typo3</td>
                    <td data-label="bloq.labs">Einfache Bedienung Ihrer Website mit Webflow</td>
                </tr>
                <tr>
                    <th scope="row">Websitewartung</th>
                    <td data-label="klassische Agentur">Regelmässige Updates mittels externer Plugins</td>
                    <td data-label="bloq.labs">Keine Wartung erforderlich</td>
                </tr>
                <tr>
                    <th scope="row">Projektdauer</th>
                    <td data-label="klassische Agentur">Monate</td>
                    <td data-label="bloq.labs">Ein paar Wochen</td>
                </tr>
                <tr>
                    <th scope="row">Fokus</th>
                    <td data-label="klassische Agentur">Kompliziertes Dienstleistungsangebot</td>
                    <td data-label="bloq.labs">Ein klarer Fokus: Ihre Website</td>
                </tr>
                <tr>
                    <th scope="row">Effizienz</th>
                    <td data-label="klassische Agentur">Gleicher Ansatz wie vor 10 Jahren</td>
                    <td data-label="bloq.labs">Einsatz von AI und modernster Technologie für mehr Effizienz</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>